@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));


@layer utilites {
    @keyframes loading {
        0% {
            transform: translateX(-100%);
        }
        100% {
            transform: translateX(250%);
        }
    }

    .animeate-loading-bar {
        animation: loading 0.8s ease infinite;
    }
    @keyframes scroll-slide {
        0% {
            transform: translateX(0%);
        }
        100% {
            transform: translateX(-50%);
        }
    }

    .animate-scroll-slide {
        animation: scroll-slide 30s linear infinite;
    }
}

html {
    scroll-behavior: smooth;
  }